
<header class="header">
  <div class="container-lrg">
    <div class="col-12 spread">
      <div>
        <a class="logo">
          Chibolines
        </a>
      </div>
      <div>
        <a class="nav-link" href="#">
          Twitter
        </a>
        <a class="nav-link" href="#">
          Facebook
        </a>
      </div>
    </div>
  </div>
  <div class="container-lrg flex">
    <div class="col-6 centervertical">
      <h1 class="heading">
        Mucho más
        que una agenda infantil
      </h1>
      <h2 class="paragraph ">
        Comunicación entre el centro infantil y la familia centralizada en una herramienta que cautiva a padres y educadores
      </h2>
      <div class="ctas">
        <a class="ctas-button" href="">
          Demo
        </a>
      </div>
    </div>
    <div class="col-6 sidedevices">
      <div class="browseriphone">
        <div class="iphone">
          <div class="mask">
            <img class="mask-img" src="img/mobileapp.svg">
          </div>
        </div>
        <div class="browser">
          <div class="mask">
            <img class="mask-img" src="img/webapp.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="feature6">
  <div class="container-sml flex">
    <div class="col-12">
      <h3 class="heading">
        Tranquilidad
        para la familia
      </h3>
      <p class="paragraph">
        Chibolines permite a los padres conocer el registro de las actividades diarias de los pequeños chibolines en el centro educativo y notificar en tiempo real a sus familiares.
      </p>
    </div>
  </div>
</div>
<div class="feature5">
  <div class="container-sml text-center">
    <div class="col-12">
      <h3 class="heading">
      </h3>
    </div>
  </div>
  <div class="container-lrg flex">
    <div class="col-5 centervertical">
      <div class="steps">
        <div class="emoji">
          <b>
            🔈
          </b>
        </div>
        <h3 class="subheading">
          Notificaciones
        </h3>
        <p class="paragraph">
          Launchaco instantly shows you the most relevant domain names. Followed by hundreds of new gtlds. Get your .gold domain name today!
        </p>
      </div>
      <div class="steps">
        <div class="emoji">
          <b>
            👩‍👩‍👦‍👦
          </b>
        </div>
        <h3 class="subheading">
          Comunicación
        </h3>
        <p class="paragraph">
          Notificaciones personalizadas de las actividades que realizan los pequeños en el centro educativo.
        </p>
      </div>
      <div class="steps">
        <div class="emoji">
          <b>
            💯
          </b>
        </div>
        <h3 class="subheading">
          Progreso
        </h3>
        <p class="paragraph">
          Comunicación entre el centro educativo &nbsp;y los padres al alcance, sin interferir en las actividades de padres e hijos
        </p>
      </div>
    </div>
    <div class="col-1">
    </div>
    <div class="col-6">
      <div class="sidedevices">
        <div class="computeriphone">
          <div class="computer">
            <div class="mask">
              <img class="mask-img" src="img/webapp.svg">
            </div>
          </div>
          <div class="iphone">
            <div class="mask">
              <img class="mask-img" src="img/mobileapp.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="socialproof">
  <div class="container-lrg">
    <div class="flex text-center">
      <div class="col-3">
        <h6 class="heading">
          100
        </h6>
        <b class="paragraph">
          principes y princesas
        </b>
      </div>
      <div class="col-3">
        <h6 class="heading">
          10
        </h6>
        <b class="paragraph">
          Protectoras y Educadoras
        </b>
      </div>
      <div class="col-3">
        <h6 class="heading">
          8
        </h6>
        <b class="paragraph">
          Tipos de Actividades
        </b>
      </div>
      <div class="col-3">
        <h6 class="heading">
          100
        </h6>
        <b class="paragraph">
          Actividades Hechas
        </b>
      </div>
    </div>
  </div>
</div>
<div class="socialproof_comment">
  <div class="container-sml">
    <div class="flex text-center">
      <div class="col-12">
        <h4 class="subheading">
          "La familia de hoy demanda información de la actividad de su pequeño principe o pequeña princesa cuando ésta ocurre, no al final de la jornada escolar."
        </h4>
        <p class="paragraph">
          Enrique Martz - CEO @ Chibolines
        </p>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container-sml text-center">
    <div class="col-12">
      <h5 class="heading">
        ¡Prueba Chibolines sin límites de tiempo y completamente gratis!
      </h5>
      <div class="ctas">
        <button class="ctas-button">
        Demo
        </button>
      </div>
    </div>
  </div>
  <div class="container-sml footer-nav">
    <div class="col-12 text-center">
      <div>
        <a class="nav-link" href="mailto:luisquikemtz@gmail.com?subject=¡Hi Enrique Mártinez!">
          Contact
        </a>
        <a class="nav-link">
          Privacy
        </a>
      </div>
      <br>
      <div>
        <span>
          © 2017 CromáTIC.
        </span>
      </div>
    </div>
  </div>
</div>

